{%  macro md_strong(value) %}
**{{ value }}**
{%- endmacro -%}

{%  macro md_em(value) %}
*{{ value }}*
{%- endmacro -%}

{%  macro md_code(value) %}
``` {{ value }} ```
{%- endmacro -%}

{%  macro quote_value(value) %}
{%  if value is string %}
{{    md_code(value) }}
{%- elif value is sameas(True) or value is sameas(False) %}
{{    md_em(value) }}
{%- else %}
{{    value }}
{%- endif %}
{%- endmacro -%}

{%  macro format_default_value(value) %}
{%    if value is mapping %}
{{      'Default:\n' }}
{%      for k, v in value.items() %}
{{        '* ' ~ md_strong(k | markdown_escape) ~ ': ' ~ quote_value(v) }}
{%      endfor %}
{%    elif value is sequence and value is not string %}
{{      'Default:\n' }}
{%      for v in value %}
{{        '* ' ~ quote_value(v) }}
{%      endfor %}
{%    else %}
{{      'Default: ' ~ quote_value(value) }}
{%    endif %}
{%- endmacro -%}

# {{ role }}

Role description.

## Required Variables
{%  for var_name in required_vars | sort %}

### `{{ var_name }}`

Variable description.
{%  endfor %}

## Optional Variables
{%  for var_name in optional_vars | sort %}

### `{{ var_name }}`

Variable description.

{{ format_default_value(optional_vars[var_name]) }}
{%  endfor %}
{%  if playbook %}

## Playbook Example

{%    filter indent(width = 4, first = True) %}
{{      playbook }}
{%    endfilter %}
{%  endif %}
{%  if license %}

## License

{{ license }}
{%  endif %}
{%  if author %}

## Author Information

Copyright {{ year }}, {{ author }}
{%  endif %}
