{%  macro quote_value(value) %}
{%  if value is string %}
{{    '``` ' ~ value ~ ' ```' }}
{%- else %}
{{    value }}
{%- endif %}
{%- endmacro -%}

{%  macro format_default_value(value) %}
{%    if value is mapping %}
{{      'Default:\n' }}
{%      for k, v in value.items() %}
{{        '* ' ~ quote_value(k) ~ ': ' ~ quote_value(v) }}
{%      endfor %}
{%    elif value is sequence and value is not string %}
{{      'Default:\n' }}
{%      for v in value %}
{{        '* ' ~ quote_value(v) }}
{%      endfor %}
{%    else %}
{{      'Default: ``` ' ~ value ~ ' ```' }}
{%    endif %}
{%- endmacro -%}

# {{ role }}

Role description.

## Required Variables
{%  for var_name in required_vars | sort %}

### `{{ var_name }}`

Variable description.
{%  endfor %}

## Optional Variables
{%  for var_name in optional_vars | sort %}

### `{{ var_name }}`

Variable description.

{{ format_default_value(optional_vars[var_name]) }}
{%  endfor %}
{%  if playbook %}

## Playbook Example

{%    filter indent(width = 4, first = True) %}
{{      playbook }}
{%    endfilter %}
{%  endif %}
{%  if license %}

## License

{{ license }}
{%  endif %}
{%  if author %}

## Author Information

Copyright {{ year }}, {{ author }}
{%  endif %}
